body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  text-align: center;
  min-height: 100vh;
}

.Navbar {
  display: flex;
  justify-content: space-around;
  background: white;
  padding: 10px 200px;
  font-weight: 600;
  border-bottom: 1px solid #000000a8;
}
.Navbar button {
  background-color: #C3C1AB;
  color: #000000a8;
  border: 4px solid #C3C1AB;
  border-radius: 3px;
  width: 100px;
  height: 30px;
}

.Navbar Link {
  list-style: none;
  text-decoration: none;
  display: inline-block;
  margin: 0px 20px;
  font-size: 1.2rem;
  color: #000000;
}
.theme-btn {
  padding: 2px 15px;
  font-size: 1rem;
  text-align: center;
}

.light {
  background-color: #efeded;
}

.dark {
  background-color: #18191a;
}

.Navbar.light {
   background: beige;
}

.Navbar.dark {
  background-color: #252526;
}

.light a,
.light p,
.light h1,
.light h2,
.light h4,
.light h3,
.light label {
  color: #000000;
}

.dark a,
.dark p,
.dark h1,
.dark h2,
.dark h4,
.dark label,
.dark h3 {
  color: #ffffff;
}

img{
  width: 200px;
  height: 250px;
}
