*{
  margin: 0;
  padding: 0;
  
}
.App {
  text-align: center;
  min-height: 100vh;
  background-size: contain;
  background-color: rgba(135, 206, 250, 0.495);
  
}
.light {
  background-color:rgba(173, 216, 230, 0.47);
}

.dark {
  background-color: #1f1f1f;
}

.Footer .light {
  background-color:rgb(211, 211, 211);
}

.Footer .dark {
 background-color: #252526;
}

.light a,
.light p,
.light h1,
.light h2,
.light h4,
.light h3,
.light label 
.light .theme-btn {
  color: #000000;
}

.dark a,
.dark Card,
.dark p,
.dark h1,
.dark h2,
.dark h4,
.dark label,
.dark h3,
.dark button {
  color: #ffffff;
}
.updateBtn{
  background: white;
  color: #18191a;
}


.imageCard{
  width: 100%;
  height: 35vw;
  object-fit: cover;
}

.g-4{
  size-adjust: 20%;
}

.fileUploader{
  width: 200px; 
}

.formAddProduct{
  text-align: -webkit-center;
}

.HomePage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HomePage #Caroussel {
  display: none;
  width: 1000px;
  height: 800px;
  margin-top: 5%;
}

.AboutPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  background-size: cover;
}

.AboutPage h1 {
  margin: 30px;
  font-size: 50px ;
}

.AboutPage .About {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  width: 80%;
}
.AboutPage img {

  width: 250px;
  height: 250px;

}

.ContainerProfile{
  display: flex;
  flex-direction: row;
  margin: 30px;
}

.Profile {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 350px;
  margin: 20px 50px;
  padding: 20px;
  background-color: whitesmoke;
  border: 2px solid whitesmoke;
  border-radius: 10px;
}

.Footer {
 position: sticky;
 top: 96%;
 width: 100vw;
 background-color: lightgray;
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.error-message {
  color: red;
  margin-top: 1.5em;
}