body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  text-align: center;
  min-height: 100vh;
}

.Navbar {
  display: flex;
  justify-content: space-around;
  background: white;
  padding: 10px 200px;
  font-weight: 600;
  border-bottom: 1px solid #000000a8;
}


.theme-btn {
  padding: 2px 15px;
  font-size: 1.1rem;
  text-align: center;
}

.light {
  background-color: #efeded;
}

.dark {
  background-color: #18191a;
}

.Navbar.light {
   background-color:lightgray;
}

.Navbar.dark {
  background-color: #252526;
}

.light a,
.light p,
.light h1,
.light h2,
.light h4,
.light h3,
.light label 
.light .theme-btn {
  color: #000000;
}

.dark a,
.dark Card,
.dark p,
.dark h1,
.dark h2,
.dark h4,
.dark label,
.dark h3,
.dark .theme-btn {
  color: #ffffff;
}
.updateBtn{
  background: white;
  color: #18191a;
}


.imageProduct{
  width: 200px;
  height: 250px;
  margin-top: 20px;
}

.g-4{
  size-adjust: 20%;
}